
/* .container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
} */


/* .header-container {
    /* display: flex; */
    /* align-items: center; */
    /* padding-top: 26px;
    padding-bottom: 50px;
} */ */

/* .header-nav {
    display: flex;
    align-items: center;
} */

/* .header-logo-icon {
    fill: #ecd979;
} */

/* .header-nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 60px;
} */

/* .header-nav-link {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
     color: #fcf9f9;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .header-nav-link:hover,
.header-nav-link:focus {
    color: #ecd979;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
} */

/* .burger-btn {
 border: none;
 padding: 0;
 background-color: transparent;
cursor: pointer;
}

.burger-icon {
    display: block;
    stroke: #ecd979;
} */

/* .header-contacts-link {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
    color: #fcf9f9;
} */

/* .header-socials {
    margin-left: 20px;
} */

/* .header-socials-list {
    display: flex;
    gap: 12px;
} */

/* .header-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
    background-color: rgba(252, 249, 249, 0.1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-icon {
fill: #fcf9f9;
}

.header-socials-link:hover,
.header-socials-link:focus {
    border-color: #ecd979;
    background-color: transparent;
    outline: none;
} */


/* .hero-container {
    padding-top: 50px;
    padding-bottom: 75px;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-media {
    flex-shrink: 0;
    margin-right: 40px;
}

.hero-image{
    border-radius: 4px;
    width: 392px;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero-content {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.18;
    letter-spacing: -0.02em;
    color: #fcf9f9;
    margin-bottom: 40px;
    text-align: left;
}

.hero-title-accent {
    color: #ecd979;
}


.hero-button {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 39px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fcf9f9;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  border-color: #ecd979;;
}

.hero-button-arrow {
    fill: #ecd979;
}

.hero-badge {
    position: absolute;
    top: 54px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 115px;
}

.hero-text {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.04em;
        text-align: center;
        color: rgba(252, 249, 249, 0.4);
}

.hero-star {
    fill: #ecd979;
    margin-bottom: 16px;
} */

/* .about-us-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 50px;
    padding-top: 75px;
    padding-bottom: 75px;

} */

/* .about-us-wrapper {
    flex-basis: 530px;
} */

/* .about-us-subtitle{
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    margin-bottom: 40px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}

.about-us-media {
    flex-shrink: 0;
    position: relative;
}

.about-us-img {
    z-index: 2;
    display: block;
    border-radius: 4px;
    width: 594px;
    height: auto;
}

.about-us-pattern {
    position: absolute;
    right: -150px;
    bottom: -80px;
    z-index: 1;
    width: 544px;
    height: auto;
    fill: rgba(252, 249, 249, 0.1);

} */


/* .our-collection-container {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}


.collection-pattern-left {
    position: absolute;
    left: -150px;
    top: 300px;
    z-index: 1;
    fill: #ecd979;
}

.our-collection-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    margin-bottom: 40px;
}

.our-collection-list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

.our-collection-item {
    display: flex;
    flex-direction: column;
}

.our-collection-img {
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 430px;
    margin-bottom: 18px;
    object-fit: cover;
}

.our-collection-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.our-collection-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fcf9f9;
}

.our-collection-subtext {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
} */




/* .collection-banner {
    padding-top: 75px;
    padding-bottom: 75px;
}

.banner-container {
    padding-right: 0;
    padding-left: 0;
    max-width: 1280px;
}

.collection-banner-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
} */


.order .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}





.order.section {
    padding-bottom: 75px;
    padding-top: 75px;
}

.order-content-wrapper {
    max-width: 542px;
    width: 100%;
}


.customer-order-subtitle {
    font-weight: 500;
        font-size: 44px;
        line-height: 1.32;
        letter-spacing: -0.03em;
        max-width: 542px;
        margin-bottom: 40px;
        color: #fcf9f9;
}

.order-form-field {
  margin-bottom: 16px;
  display: block;
}

.order-form-field:last-of-type {
    margin-bottom: 0;

}


.order-form-input,
.order-form-textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 16px;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fcf9f9;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input::placeholder,
.order-form-textarea::placeholder {
   color: rgba(252, 249, 249, 0.5);
}

.order-form-input:focus,
.order-form-textarea:focus {
    border-color: #ecd979;
}

.order-form-textarea {
    height: 196px;
    resize: none;
}


.customer-order-img {
    border-radius: 4px;
        flex-shrink: 0;
        
}

.hero-button.order {
    margin-top: 40px;
}


.order-pattern {
    position: absolute;
    left: -150px;
    bottom: -5px;
    z-index: -1;
    fill: rgba(252, 249, 249, 0.1);
}





.testimonials.section {
    padding-top: 75px;
    padding-bottom: 513px;

}

.testimonials-subtitle {
    font-weight: 500;
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
        color: #fcf9f9;
        margin-bottom: 64px;
}

.testimonials-list {
    display: flex;
    gap: 26px;
}

.testimonials-item {
    position: relative;
    flex-basis: calc((100% - 52px) / 3);
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 4px;
    background-color: transparent;
    padding: 54px 18px 18px;
    min-height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.testimonials-img {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(16, 24, 40, 0.06);
}

.testimonials-subtitle-name {
    font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #fcf9f9;
        margin-bottom: 8px;
}

.testimonials-text {
        font-size: 16px;
        letter-spacing: -0.02em;
        line-height: 1.5;
        color: rgba(252, 249, 249, 0.4);
        max-width: 320px;
            margin-left: auto;
            margin-right: auto;
    
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ecd979;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 32px 0px;
    height: 100%;

} 

.mobile-menu-close {
    position: absolute;
        top: 20px;
        right: 32px;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
}

.mobile-close-icon {
    stroke-width: 3px;
    stroke: #1c2225;
}

.mobile-menu-contacts {
    background-color: transparent;
    font-style: normal;
    max-width: 193px;
    height: 48px;
}

.mobile-menu-contacts-link {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgba(28, 34, 37, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
      font-size: 14px;
        line-height: 1.4;
        text-transform: uppercase;
        white-space: nowrap;
        color: #1c2225;
}

.mobile-menu-nav {
  margin-bottom: auto;
  text-align: right;

}

.mobile-menu-link {
        font-size: 14px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #1c2225;
        display: block;
        padding: 12.5px 0;
}


.mobile-menu-container::after {
    content: "";
    display: block;
    width: 100%;
    min-height: 60px;
    background-image: url('./images/pattern.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-top: auto;
}